{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row animation">
        <div class="row d-flex align-item-center">
            <div class="col-12 col-xl-6">
                <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
                    alt="Fly Wheel - car image" style="width:100%;">
            </div>
            <div class="col-12 col-xl-6 py-3 my-3 d-flex justify-content-center mx-auto">
                <div class="col-12 col-sm-8">
                    <div class="row ">
                        <div class="col-12 pb-3">
                            <h3 class="text-white">Contact Fly Wheel</h3>
                            <small class="">If you have any questions or you'd like to contact us please send us a message below and we'll contact you within 24 hours.</small>
                        </div>
                        <div class="col-12">
                            <div>
                                <form method="post" action="{% url 'contact' %}">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                        {% render_field form.name class="form-control text-start" placeholder="Your Name" %}
                                    </div>
                                    {% if form.name.errors %}
                                        <p class="text-start text-danger">{{ form.name.errors }}</p>
                                    {% endif %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><i class="fa-solid fa-phone-volume"></i></span>
                                        {% render_field form.mobile class="form-control text-start" placeholder="Your Mobile Number" %}
                                    </div>
                                    {% if form.mobile.errors %}
                                        <p class="text-start text-danger">{{ form.mobile.errors }}</p>
                                    {% endif %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                        {% render_field form.email class="form-control text-start" placeholder="Your e-mail address" %}
                                    </div>
                                    {% if form.email.errors %}
                                        <p class="text-start text-danger">{{ form.email.errors }}</p>
                                    {% endif %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text align-self-start" style="height:100px;"><i class="fa-solid fa-message"></i></span>
                                        {% render_field form.message class="form-control text-start" placeholder="Your Message" rows="15" cols="36" style="height:100px" %}
                                    </div>
                                    {% if form.message.errors %}
                                        <p class="text-start text-danger">{{ form.message.errors }}</p>
                                    {% endif %}
                                    <div class=" col-12 d-flex justify-content-end">
                                        <input type="submit" aria-label="send" class="btn button-4 text-white" value="Send" onclick="return validateForm()">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 mt-5 bg-dark p-5 rounded-5">
                            <h5 class="text-info text-start">Reach Us</h5>
                            <small class="text-start">
                                <a href="tel:+353892336291">
                                    <span><i class="fa fa-phone-volume"> </i></span> +353 89 233 6291
                                </a>
                            </small>
                            <br>
                            <small class="text-start">
                                <a href="mailto:flywheelrent@gmail.com">
                                    <span><i class="fa-regular fa-envelope"> </i></span>
                                    flywheelrent@gmail.com
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-warning">
            <div class=" container text-black p-3">
                <div class="row">
                    <div class="col-12 col-lg-8 py-3">
                        <h3>You are a few steps from driving away to discover Ireland.</h3>
                        Fly wheel rent a car: We care for you.
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <a href="{% if user.is_authenticated %}{% url 'search_cars' %}{% else %}{% url 'login_or_signup' %}{% endif %}" 
                            class="button-1 rounded-5 py-3">Rent a car</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    // fade in animation when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var animation = document.querySelector('.animation');
        var animation1 = document.querySelector('.animation1');
        animation.classList.add('fade-in');
        animation1.classList.add('fade-in');
    });
    // brand logo carousel- duplicate logos
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);

</script>
{% endblock %}