{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row animation">
        <div class="col-12 my-3 text-center justify-content-center">
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712104004/Royal%20Drive/Uploads/Main_Image_2_rdfnbr.webp"
                alt="RoyalDrive Main Image" style="max-width:100%">
            <h2 class="logo-font text-white mt-4">
                <strong>DRIVE</strong> with Pride,
            </h2>
            <h2>Feel the <strong>ROYAL</strong> Glide</h2>
            <div class="my-3 d-flex justify-content-center">
                <h4 class="mt-3">
                    <a href="" class=" btn button-1 rounded-5 text-uppercase py-3">Hire Now</a>
                </h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row animation1">
        <div class="col-12 col-md-6 my-3 mx-auto text-center">
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712104002/Royal%20Drive/Uploads/logo_whole_x2sned.webp"
                alt="RoyalDrive Main Image" style="max-width:100%">
        </div>
        <div class="col-12 col-lg-6 my-3 text-start">
            <p><small>Welcome to Royal Drive - your premier destination for unparalleled luxury car rental
                    experiences.
                    At
                    Royal Drive, we pride ourselves on delivering exceptional service, ensuring every journey with
                    us is
                    nothing short of extraordinary. With a fleet boasting the finest selection of prestigious
                    vehicles,
                    from
                    sleek sports cars to opulent sedans, we cater to discerning clientele seeking both style and
                    substance.
                </small>
            </p>
            <p>
                <small>Our commitment to excellence extends beyond our fleet; it permeates every aspect of our
                    operation. From
                    seamless booking processes to personalized customer care, we strive to exceed expectations at
                    every
                    turn. With Royal Drive, you're not just hiring a car - you're embarking on a journey defined by
                    sophistication, comfort, and unmatched prestige.
                </small>
            </p>
            <p>
                <small>As industry leaders in luxury car rentals, we understand the importance of reliability and trust.
                    That's why each vehicle in our collection is meticulously maintained to the highest standards,
                    ensuring optimal performance and safety for every mile of your adventure. Whether you're planning a
                    weekend getaway, a business trip, or a special occasion, Royal Drive is your trusted companion for
                    elevating your travel experience.
                </small>
            </p>
        </div>
    </div>
    <div class="row bg-dark rounded-5 p-3">
        <div class="col-12 my-5 text-center">
            <h3 class="logo-font text-white text-uppercase mt-5">
                We take pride in
            </h3>
            <div class="my-5">
                <div class="row text-center d-flex justify-content-center">
                    <div class="col-12 col-xl-4 bg-black p-5 rounded-5 border border-dark border-5">
                        <h1 class="text-warning"><i class="fa-solid fa-medal"></i></h1>
                        <h5>Quality</h5>
                        <hr>
                        <p class="text-start">
                            <small>
                                Royal Drive car hire company delivers unmatched service quality, ensuring every aspect
                                of your experience is meticulously tailored to perfection. With a fleet of meticulously
                                maintained vehicles and dedicated customer support, Royal Drive promises a seamless
                                journey of luxury and reliability.
                            </small>
                        </p>
                    </div>
                    <div class="col-12 col-xl-4 bg-black p-5 rounded-5 border border-dark border-5">
                        <h1 class="text-warning"><i class="fa-solid fa-face-smile"></i></h1>
                        <h5>Customer Service</h5>
                        <hr>
                        <p class="text-start">
                            <small>
                                Royal Drive's customer service stands as the hallmark of our commitment, ensuring prompt
                                and personalized assistance for every client's needs. With round-the-clock availability
                                and a dedicated team, we guarantee a seamless and delightful experience throughout your
                                journey.
                            </small>
                        </p>
                    </div>
                    <div class="col-12 col-xl-4 bg-black p-5 rounded-5 border border-dark border-5">
                        <h1 class="text-warning"><i class="fa-solid fa-car"></i></h1>
                        <h5>1000+ Cars</h5>
                        <hr>
                        <p class="text-start">
                            <small>
                                At Royal Drive, our expansive fleet of over 1000 meticulously maintained cars offers
                                unparalleled choice and variety for every discerning traveler. Whether you seek luxury
                                sedans, sleek sports cars, or spacious SUVs, we provide a diverse selection to suit your
                                preferences and needs.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 text-center text-info">Our Available Brands</h5>
    <div class="logos">
        <div class="logos-slide">
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102136/Royal%20Drive/logos/audi-logo_fgwhpb.png"
                alt="audi-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102137/Royal%20Drive/logos/bentley-logo-2002-download_wfap9l.png"
                alt="bentley-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102138/Royal%20Drive/logos/BMW_logo_dt1psi.png"
                alt="BMW-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102139/Royal%20Drive/logos/Jaguar-Logo_cz5dnv.png"
                alt="Jaguar-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102140/Royal%20Drive/logos/Lamborghini-logo_ts1vjd.png"
                alt="Lamborghini-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102142/Royal%20Drive/logos/Land-Rover-logo_vntdbg.png"
                alt="Land-Rover-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102143/Royal%20Drive/logos/Lexus-logo_k6vi01.png"
                alt="Lexus-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102144/Royal%20Drive/logos/Mercedes-Logo_f3vhoh.png"
                alt="Mercedes-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102146/Royal%20Drive/logos/Minicooper-logo_sezcni.png"
                alt="Minicooper-logo" />
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712102148/Royal%20Drive/logos/Volvo-logo_fdzatt.png"
                alt="Volvo-logo" />
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    // fade in animation when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var animation = document.querySelector('.animation');
        var animation1 = document.querySelector('.animation1');
        animation.classList.add('fade-in');
        animation1.classList.add('fade-in');
    });
    // brand logo carousel- duplicate logos
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);

</script>
{% endblock %}