{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row my-5 d-flex justify-content-center align-items-center">
    <div class="row my-3">
      <div class="col-12 col-xl-6 ">
        <div class="row d-flex justify-content-center align-items-center">
          <div class=" p-4 text-center">
            <h3 class=" ">Did you forgot to login?</h3>
            <small>Login or signup to make a Booking 😊</small>
            <hr>
            <small>
                <a class="button-3" href="{% url 'account_login' %}">Login</a><a class="button-3" href="{% url 'account_signup' %}">Sign Up</a>
            </small>
          </div>
            

        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img
          src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
          alt="Signup car image" style="width:100%;">
      </div>
    </div>
  </div>
</div>


{% endblock %}