{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container-flex bg-black-gradient">
    <div class="container p-3">
        <div class=" animation d-flex justify-content-center">
            <div class="row">
                <div class="col-12 text-start mx-auto py-4 " style="max-width:600px">
                    <div class="row">
                        <div class="col-12">
                            <h1><i class="fa-solid fa-circle-check"></i></h1>
                            <h2>Thank you</h2>
                            <h5>Your booking is confirmed.</h5>
                            <small>The Booking number is <strog class="fw-bold text-info">{{ booking.booking_number }}</strog></small><br>
                            <small>A confirmation mail has been send to <strog class="fw-bold text-info">{{ booking.email }}
                                    </strog></small>
                        </div>
                        <div class="col-12 pt-4">
                            <div class="col-8 col-sm-6 d-flex justify-content-start p-3">
                                <img src="{{ car.image.url }}" alt="Car Image" style="width:100%; max-width:250px; object-fit: contain;"
                                    class="rounded-4">
                            </div>
                            <div class="col-6">
                                <small>{{ car.category }}</small>
                                <h5 class="text-warning">{{ car.make }} {{ car.model }}</h5>
                                <small>Year: {{ car.year }}</small>
                            </div>
                            <div class="col-12 py-4">
                                <a class="button-2" href="{% url 'home' %}">Return to home</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mx-auto pt-4">
                        <p><small>Your order details as follows.</small>
                        </p>
                    </div>
                    <div style="border: solid 1px #404040">
                        <div class="col-12 p-3">
                            <h5><strong>Pick up and Drop Off Details</strong></h5>
                            <div class="row">
                                <div class="col-6">
                                    <small>Pick-Up Location</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.pick_up_city }}, {{ booking.pick_up_county }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Date</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.pick_up_date }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Time</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.pick_up_time_formatted }}</small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <small>Drop Off Location</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.drop_off_city }}, {{ booking.drop_off_county }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Date</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.drop_off_date }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Time</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.drop_off_time_formatted }}</small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <small>Duration of rent</small>
                                </div>
                                <div class="col-6">
                                    <small>{% if booking.days %}: {{ booking.days }} day{% if booking.days > 1 %}s{% endif %}{% endif %}
                                        {% if booking.hours %} & {{ booking.hours }} 
                                        hour{% if booking.hours > 1 %}s {% endif %}{% endif %}</small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <small>Booked at</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.booking_time }}</small>
                                </div>
                            </div>
                            <hr>
                            <h5><strong>Car Rent Details</strong></h5>
                            <div class="row">
                                <div class="col-6">
                                    <small>Car Rent (1 day)</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ car.rent }} €</small>
                                </div>
                            </div>
                            <div class="row text-warning">
                                <div class="col-6">
                                    <strong>Total Rent</strong>
                                </div>
                                <div class="col-6">
                                    : <strong>{{ booking.total_rent }} €</strong>
                                </div>
                            </div>
                            {% if booking.child_seat or booking.infant_car_capsule or booking.booster_seat %}
                            <hr>
                            <h5><strong>Extras</strong></h5>
                            {% if booking.booster_seat %}
                            <div class="row">
                                <div class="col-6">
                                    <small>Booster Seats</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.booster_seat }} Seat{% if booking.booster_seat > 1 %}s{% endif %}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Booster seat rent</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.booster_total }} €</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if booking.child_seat %}
                            <div class="row">
                                <div class="col-6">
                                    <small>Child Seats</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.child_seat }} Seat{% if booking.child_seat > 1 %}s{% endif %}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Child seat rent</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.childseat_total }} €</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if booking.infant_car_capsule %}
                            <div class="row">
                                <div class="col-6">
                                    <small>Infant car capsule</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.infant_car_capsule }} Seat{% if booking.infant_car_capsule > 1 %}s{% endif %}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <small>Infant car capsule rent</small>
                                </div>
                                <div class="col-6">
                                    <small>: {{ booking.infant_total }} €</small>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row text-warning">
                                <div class="col-6">
                                    <strong>Total Extra</strong>
                                </div>
                                <div class="col-6">
                                    : <strong>{{ total_extra }} €</strong>
                                </div>
                            </div>
                            {% endif %}
                            <hr>
                            <div class="row text-warning">
                                <div class="col-6">
                                    <h5><strong>Grand Total</strong></h5>
                                </div>
                                <div class="col-6">
                                   <h6>: <strong>{{ booking.grand_total }} €</strong></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    // fade in animation when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var animation = document.querySelector('.animation');
        var animation1 = document.querySelector('.animation1');
        animation.classList.add('fade-in');
        animation1.classList.add('fade-in');
    });
</script>
{% endblock %}