{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row my-5 d-flex justify-content-center align-items-center">
    <div class="row my-3">
      <div class="col-12 col-xl-6 ">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="rounded-5 border border-dark p-4" style="max-width: 450px; min-height:400px;">
            <h3 class=" text-center">{% trans "Sign In" %}</h3>
            <hr>
            {% if form.errors %}
            <p class="error">
              {% for field in form %}
              {% for error in field.errors %}
              {{ error|escape }}
              {% endfor %}
              {% endfor %}
            </p>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              <div class="row d-flex justify-content-center">
                <div class="form-group p-3">
                  <label for="{{ form.username.id_for_label }}">Username</label>
                  {% render_field form.login class="form-control" %}
                </div>
                <div class="form-group p-3">
                  <label for="{{ form.password.id_for_label }}">Password</label>
                  {% render_field form.password class="form-control" %}
                </div>
                <div class=" p-3 mx-auto">
                  <button class="button-2" type="submit">Log in</button>
                </div>
              </div>
            </form>
          </div>
          <p class="text-center pt-4">
            <small>
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password" %}</a> | <a class="button-3" href="{{ signup_url }}">Sign Up</a>
            </small>
          </p>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img
          src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
          alt="Signup car image" style="width:100%;">
      </div>
    </div>
  </div>
</div>


{% endblock %}