{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 d-flex justify-content-center align-items-center">
        <div class="row my-5">
            <div class="col-12 col-xl-6 ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="rounded-5 p-4">
                        <h3>{% trans "Change Password" %}</h3>
                        <hr>
                        <small>Your password is now changed.</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
                    alt="Signup car image" style="width:100%;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
