{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="container">
    <div class="row my-5 d-flex justify-content-center align-items-center">
        <div class="row my-5">
            <div class="col-12 col-xl-6 ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="rounded-5 p-4">
                        <h3>{% trans "Password Reset" %}</h3>
                        <hr>
                        <small>We have sent you an e-mail. <br>Please contact us if you do not receive it within a few
                            minutes.</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
                    alt="Signup car image" style="width:100%;">
            </div>
        </div>
    </div>
</div>

{% endblock %}