{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 d-flex justify-content-center align-items-center">
        <div class="row my-3">
            <div class="col-12 col-xl-6 ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="rounded-5 border border-dark p-4" style="max-width: 450px; min-height:400px;">
                        <h3 class=" text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change
                            Password" %}{% endif %}</h3>
                        <hr>
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                            used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{%
                            endblocktrans %}</p>
                        {% else %}
                        {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group pb-3 align-items-center">
                                <button class="button-2" type="submit">Change password</button>
                            </div>
                        </form>
                        {% else %}
                        <small>Your password is now changed.</p>
                        {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="col-12 col-xl-6">
                <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
                    alt="Signup car image" style="width:100%;">
            </div>
        </div>
    </div>
</div>
<h1></h1>


{% endblock %}