{% extends "base.html" %}
{% debug %}

{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row my-3 d-flex justify-content-center align-items-center">
    <div class="col-12 col-xl-6">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="rounded-5 bg-transparent border border-dark p-4" style="max-width: 450px;">
          <h3 class="text-center">{% trans "Sign Up" %}</h3>
          <hr>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="row d-flex justify-content-center align-items-center">
              <div class="form-group p-3">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {% render_field form.username class="form-control" %}
                {% for error in form.username.errors %}
                <span class="error text-danger"><small>{{ error }}</small></span>
                {% endfor %}
              </div>
              <div class="form-group p-3">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {% render_field form.email class="form-control" %}
                {% for error in form.email.errors %}
                <span class="error text-danger"><small>{{ error }}</small></span>
                {% endfor %}
              </div>
              <div class="form-group p-3">
                <label for="{{ form.email2.id_for_label }}">Confirm Email</label>
                {% render_field form.email2 class="form-control" %}
                {% for error in form.email2.errors %}
                <span class="error text-danger"><small>{{ error }}</small></span>
                {% endfor %}
              </div>
              <div class="form-group p-3">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {% render_field form.password1 class="form-control" %}
                {% for error in form.password1.errors %}
                <span class="error text-danger">
                  <smalla>{{ error }}</smalla>
                </span>
                {% endfor %}
              </div>
              <div class="form-group p-3">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {% render_field form.password2 class="form-control" %}
                {% for error in form.password2.errors %}
                <span class="error text-danger"><small>{{ error }}</small></span>
                {% endfor %}
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="form-group p-3 align-items-center">
                <button class="button-2" type="submit">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
        <p class="text-center pt-4"><small>{% blocktrans %}Already have an account? <a class="button-3"
              href="{{ login_url }}"><strong>sign in</strong></a>{% endblocktrans %}</small>
        </p>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <img
        src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
        alt="Signup car image" style="width:100%;">
    </div>
  </div>
</div>
{% endblock %}