{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-12 col-xl-6">
            <div class=" p-4 m-5">
                <h3>{% trans "Verify Your E-mail Address" %}</h3>
                <hr>
                <small>We have sent an e-mail to you for verification. <br>Follow the link provided to finalize
                    the signup process.<br> Please contact us if you do not receive it within a few minutes.</small>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712757143/Royal%20Drive/Uploads/signup_image_ukt0ez.webp"
                alt="Signup car image" style="width:100%;">
        </div>
    </div>
</div>
{% endblock %}