{% load i18n %}
{% autoescape off %}
<html>
<body>
    <div style="text-align: center; padding-bottom: 30px;">
        <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712694082/Royal%20Drive/Uploads/Fly_wheels_logo_big_rfq8ov.png" 
        alt="FlyWheel Rent a Car Logo" style="width: 150px; height: auto;">
    </div>
    <p>{% blocktrans %}Hello {{ name }},{% endblocktrans %}</p>
    <p>We regret to inform you that your booking with booking number {{ booking_number }} has been canceled.</p>
    <p>If you have any further questions or concerns, please contact us at {{ company_contact_number }} or via email at {{ company_email }}.</p>
    <p>Thank you for choosing FlyWheel Rent a Car.</p>
    <p>Best regards,</p>
    <p>FlyWheel Rent a Car Team</p>
</body>
</html>
{% endautoescape %}
