{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712000909/Royal%20Drive/Uploads/favicon-16_hxoznx.webp">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712000910/Royal%20Drive/Uploads/favicon-32_kgnscu.webp">
    <link rel="icon" type="image/png" sizes="48x48"
        href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712000911/Royal%20Drive/Uploads/favicon-48_ln15ou.webp">
    <link rel="icon" type="image/png" sizes="512x512"
        href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712000913/Royal%20Drive/Uploads/favicone-512_ill0ec.webp">

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/f723d8f016.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fly Wheels {% block extra_title %}{% endblock %}</title>
    <meta name="description"
        content="Budget friendly-luxuary rent a car company with a huge range of premium cars for hire.">
    <meta name="keywords"
        content="car rental, car hire, rent a car, auto rental, car rental near me, premium car rental, 
        cheap car hire,luxuary cars, budget car rental, affordable car rental">
</head>

<body class="bg-black">
    <header class="container-fluid">
        <div class="row dark-blue py-3">
            <div class="col-12 col-lg-4 my-auto py-3 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1711994837/Royal%20Drive/Uploads/logo_rgz5ig.webp"
                        alt="Royal Drive Logo" style="height:60px">
                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712006709/Royal%20Drive/Uploads/logo-latter_u0yved.png"
                        alt="Royal Drive name letter" style="height:30px">
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group">
                        <input class="form-control border border-black rounded-2" type="text" name="q"
                            placeholder="Search cars">
                        <div class="input-group-append bg-black">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon text-white">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 shadow" aria-labelledby="user-options" data-bs-theme="dark">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container-fluid w-100 p-5 dark-blue">
        <div class="row ">
            <div class="col-12 col-xl-4 d-none d-xl-block">
                <div class="col-12 col-xl-10  p-3">
                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1712262378/Royal%20Drive/Uploads/logo-footer_baxgyt.png"
                        alt="Royal Drive logo" style="width:200px;">
                </div>

                <div class="col-12 col-xl-10 p-3">
                    <small>
                        Royal Drive is an ultimate destination for top-tier <strong>luxury car rentals</strong>. At
                        Royal
                        Drive, we take immense pride in delivering unparalleled service, ensuring each journey with us
                        is truly
                        extraordinary. From streamlined booking processes to bespoke customer care, we are committed to
                        surpassing expectations at every opportunity. At Royal Drive, you're not just
                        renting a car - you're embarking on a voyage
                        defined by sophistication, comfort, and unparalleled prestige. We offer a <strong>budget car
                            rental</strong>
                        service in the whole Ireland.
                    </small>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="row p-3">
                    <div class="col-12 p-3">
                        <div class="row p-3">
                            <div class="col-12 col-lg-6 p-3">
                                <h5 class="text-info">Explore Us</h5>
                                <small><a href="#"><span><i class="fa-solid fa-circle-arrow-right"></i></span>
                                        Home</a></small><br>

                                <small><a href="#"><span><i class="fa-solid fa-circle-arrow-right"></i></span> About
                                        Us</a></small><br>
                                <small><a href="#"><span><i class="fa-solid fa-circle-arrow-right"></i></span>
                                        Contact</a></small><br>
                                <small><a href="#"><span><i class="fa-solid fa-circle-arrow-right"></i></span> Rent a
                                        car</a></small><br>
                            </div>
                            <div class="col-12  col-lg-6 p-3">
                                <h5 class="text-info">Meet Us</h5>
                                <a class="text-reset text-decoration-none" href="tel:+353892336291">
                                    <address>
                                        <small>Main Street</small><br>
                                        <small>Ballinasloe</small><br>
                                        <small>Co-Galway</small><br>
                                    </address>
                                </a>
                            </div>
                            <div class="col-12  col-lg-6 p-3">
                                <h5 class="text-info">Reach Us</h5>
                                <small>
                                    <a href="tel:+353892336291">
                                        <span><i class="fa fa-phone-volume"> </i></span> +353 89 233 6291
                                    </a>
                                </small>
                                <br>
                                <small>
                                    <a href="mailto:royaldrive.carhire@gmail.com">
                                        <span><i class="fa-regular fa-envelope"> </i></span>
                                        royaldrive.carhire@gmail.com
                                    </a>
                                </small>
                            </div>
                            <div class="col-12 col-lg-6 p-3">
                                <h5 class="text-info">Subscribe</h5>
                                <div class="row p-5 d-flex justify-content-center ">
                                    <div class="col-12">
                                        <div class="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 social-links">
                                <h5 class="text-info">Connect With Us</h5>
                                <h3><a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
                                        <i class="fab fa-facebook-f social"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
                                        <i class="fab fa-instagram social"></i>
                                    </a>
                                    <a href="https://www.youtube.com/" target="_blank" aria-label="Youtube">
                                        <i class="fab fa-youtube social"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="row p-3">

                        </div>
                        <div class="row p-3">

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <small>Copyright &copy; Royal Drive <span id="year"></span></small>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

    <script>
        // Dynamically update the year in the copyright notice
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</body>

</html>