{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid bg-black-gradient">
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-3 p-3 animation ">
            <div class="rounded-3 bg-dark">
                <div class="col-12 p-2 pt-5 text-center">
                    <h5 class="text-warning text-uppercase">{{ customer_details.title }}. {{ customer_details.name }}</h5>
                    <small>{{ customer_details.user.email }}</small><br>
                    <small>{{ customer_details.mobile }}</small><br>
                </div>
                <hr>
                <div class="col-12 ps-3">
                    <small>Address : </small><br>
                    <small>{{ customer_details.address_1 }}</small><br>
                    <small>{{ customer_details.address_2 }}</small><br>
                    <small>{{ customer_details.town }}, {{ customer_details.county }}</small><br>
                    <small>{{ customer_details.eir_code }}</small><br>
                </div>
                <hr>
                <div class="col-12 ps-3">
                    <small>Date of Birth :</small>
                    <small>{{ customer_details.date_of_birth }}</small><br>
                </div>
                <hr>
                <div class="col-12 pb-4 text-center">
                    <a href="">Update Details</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-8 col-xl-9 p-3 animation1">

            <div class="row p-3 py-2">
                <h3 class=""><strong>Your Bookings</strong></h3>
                <hr>
                {% if bookings %}
                {% for booking in bookings %}
                <div class="py-2">
                    <div class="row p-3 rounded-3 border border-secondary
                    {% if booking.status == 'Booked' %} booking-bg-green 
                    {% elif booking.status == 'Canceled' %} booking-bg-red
                    {% else %} booking-bg {% endif %}">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <small class="text-info">{{ booking.booking_number }}</small><br>
                                <small>Status : {{ booking.status }}</small>
                            </div>
                            <div class="col-12 col-md-4 pb-2">
                                <small>{{ booking.booking_time }}</small>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-5 col-xl-4 my-2 d-flex justify-content-center">
                                <img src="{{ booking.car.image.url }}" alt="Car Image"
                                    style="width:100%; max-width:250px; object-fit: contain;" class="rounded-4">
                            </div>
                            <div class="col-12 col-md-8 col-lg-7 col-xl-8 py-3 my-2">
                                <small>{{ booking.car.category }}</small>
                                <h5>{{ booking.car.make }} {{ booking.car.model }}</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row pb-2">
                            <div class="col-12 col-md-6">
                                <small class="text-warning">Pick Up : {{ booking.pick_up_city }}, {{ booking.pick_up_county }}</Small><br>
                                <small >{{ booking.pick_up_date }}, {{ booking.pick_up_time }}</small>
                            </div>
                            <div class="col-12 col-md-6">
                                <Small class="text-warning">Drop Off: {{ booking.drop_off_city }}, {{ booking.drop_off_county }}</Small><br>
                                <small >{{ booking.drop_off_date }}, {{ booking.drop_off_time }}</small>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                                <p >Bill Amount : <Strong class="text-info">{{ booking.grand_total }},00 €</Strong></p>
                            </div>
                            <div class=" col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                <a type="submit" href="{% url 'booking_details' booking.id %}" class="btn button-2">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="py-5 text-center">
                    <h1 class="text-info"><i class="fa-solid fa-car-on"></i></h1>
                    <p>Sorry, You don't have any booking yet</p>
                    <small class="text-uppercase"> 
                        <a href="{% if user.is_authenticated %}{% url 'search_cars' %}{% else %}{% url 'login_or_signup' %}{% endif %}">
                            click to book now</a>
                    </small>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    // fade in animation when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var animation = document.querySelector('.animation');
        var animation1 = document.querySelector('.animation1');
        var animation2 = document.querySelector('.animation2');
        animation.classList.add('fade-in');
        animation1.classList.add('fade-in');
        animation2.classList.add('fade-in');
    });

</script>
{% endblock %}