{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-3 p-3 animation">
            <div class="rounded-1" style="border: solid 1px #ffc107">
                <div class="col-12 p-3 text-center rounded-1 bg-black">
                    <h4 class="text-warning">{{ request.session.total_rent }} €</h4>
                    <small>
                        Rental Cost for {{ request.session.days }} day{% if request.session.days > 1 %}s{% endif %}
                        {% if request.session.hours %} & {{ request.session.hours }} hour{% if request.session.hours > 1 %}s {% endif %}{% endif %}
                    </small>
                </div>
                <div class="col-8 col-md-6 col-lg-12 d-flex justify-content-center mx-auto p-3">
                    <img src="{{ car.image.url }}" alt="Car Image" style="width:100%; object-fit: contain;"
                        class="rounded-4">
                </div>
                <div class="col-12 p-3">
                    <small>{{ car.category }}</small>
                    <h5 class="text-warning">{{ car.make }} {{ car.model }}</h5>
                    <small>Year: {{ car.year }}</small>
                </div>
                <hr>
                <div class="col-12 p-3">
                    <h5> <i class="fa-solid fa-plane-departure"></i> Pick-Up</h5>
                    <h6>{{ request.session.pick_up_city }}, {{ request.session.pick_up_county }}</h6>
                    <small>Date : {{ form.pick_up_date.value }}</small><br>
                    <small>Time : {{ request.session.pick_up_time_formatted }}</small>
                </div>
                <div class="col-12 p-3">
                    <h5><i class="fa-solid fa-plane-arrival"></i> Drop Off</h5>
                    <h6 class="disabled">{{ request.session.drop_off_city }}, {{ request.session.drop_off_county }}</h6>
                    <small>Date : {{ form.drop_off_date.value }}</small><br>
                    <small>Time : {{ request.session.drop_off_time_formatted }}</small>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-xl-6 p-4 mt-2 animation1">
            <div>
                <form method="post" action="{% url 'search_result_update' %}">
                    {% csrf_token %}
                    <div class="row py-3 d-none">
                        {{ form.as_p }}
                    </div>
                    <input type="hidden" name="submitAction" id="submitAction">
                    <div class=" col-12 d-flex justify-content-start">
                        <button type="submit" class="btn button-2">Change Car</button>
                    </div>
                </form>
            </div>
            <div class="row py-5 ">
                <h3 class=""><strong>Your Deal</strong></h3>
                <hr>
                <div class="col-12 ">
                    <div class="alert alert-warning" role="alert">
                        <i class="fa-regular fa-clock"></i> Free cancellation up to 48 hours before pick-up
                    </div>
                </div>

                <div class="col-12 py-3 my-2">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-info">Car Features</h5>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>{{ car.seats }} Seats</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>{{ car.fuel }}</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>{{ car.doors }} Doors</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>{{ car.gear_box }}</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>Large Bags : {{ car.large_bags }}</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            <small>Small Bags : {{ car.small_bags }}</small>
                        </div>
                        <div class="col-6 col-xl-4">
                            {% if car.air_condition %}
                            <small>A/C : Yes </small>
                            {% else %}
                            <small>A/C : No </small>
                            {% endif %}
                        </div>
                        <div class="col-6 col-xl-4">
                            {% if car.abs %}
                            <small>ABS : Yes </small>
                            {% else %}
                            <small>ABS : No </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12 py-3 my-2">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-info">Included In Price</h5>
                        </div>
                        <div class="col-12 col-md-6">
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Instant booking confirmation
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Second Driver
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Third party
                            </small><br>
                        </div>
                        <div class="col-12 col-md-6">
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Theft and fire protection
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Personal Accident protection
                            </small><br>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12 py-3 my-2">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-info">Great choice!</h5>
                        </div>
                        <div class="col-12 col-md-6">
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Customer Rating : {{ car.rating }} / 5.0
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Most popular fuel policy
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Short queues
                            </small><br>
                        </div>
                        <div class="col-12 col-md-6">
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Easy to find counter
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Helpful counter staff
                            </small><br>
                            <small><i class="text-warning fa-regular fa-circle-check"></i>
                                Free Cancellation
                            </small><br>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12 py-3 my-2">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-info">Extras</h5>
                        </div>
                        <div class="col-12 my-2">
                            <div class="row rounded-2 border border-1 border-secondary p-3">
                                <div class="col-3">
                                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1714679891/Royal%20Drive/Uploads/booster_seat_plvdyj.png"
                                        alt="Car Image" style="width:100%; max-height:100% ;" class="rounded-4">
                                </div>
                                <div class="col-9">
                                    <h5>BOOSTER SEAT (5 - 10 YEARS)</h5>
                                    <small>Booster seats are recommended if your child is between 15-36 kg.</small>
                                    <h5 class="text-warning pt-2">5,00 €/day</h5>
                                    <form class="form" action="{% url 'add_extras' id=1 %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row py-3 d-none">
                                            {{ form.as_p }}
                                        </div>
                                        <button type="submit" class="btn button-2">Add</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-2">
                            <div class="row rounded-2 border border-1 border-secondary p-3">
                                <div class="col-3">
                                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1714682522/Royal%20Drive/Uploads/child_seat_ztjq6m.webp"
                                        alt="Car Image" style="width:100%; max-height:100% ;" class="rounded-4">
                                </div>
                                <div class="col-9">
                                    <h5>CHILD SEAT (1 - 5 YEARS)</h5>
                                    <small>Child seats are normally used for children between (2-19 kg).</small>
                                    <h5 class="text-warning pt-2">5,00 €/day</h5>
                                    <form class="form" action="{% url 'add_extras' id=2 %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row py-3 d-none">
                                            {{ form.as_p }}
                                        </div>
                                        <button type="submit" class="btn button-2">Add</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-2">
                            <div class="row rounded-2 border border-1 border-secondary p-3">
                                <div class="col-3">
                                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1714681132/Royal%20Drive/Uploads/infant_car_capsule_bhe6mr.webp"
                                        alt="Car Image" style="width:100%; max-height:100% ;" class="rounded-4">
                                </div>
                                <div class="col-9">
                                    <h5>INFANT CAR CAPSULE (0 - 1 YEARS)</h5>
                                    <small>Infant Car Capsule (0 - 1 years)</small>
                                    <h5 class="text-warning pt-2">5,00 €/day</h5>
                                    <form class="form" action="{% url 'add_extras' id=3 %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row py-3 d-none">
                                            {{ form.as_p }}
                                        </div>
                                        <button type="submit" class="btn button-2">Add</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12 py-3 my-2">
                    <div class="row">
                        <h5 class="text-info">Your pick-up checklist</h5>
                        <br>
                        <div class="p-3 rounded-2 border border-secondary my-2">
                            <p class="text-warning"><strong><i class="fa-regular fa-clock"></i> Arrive On Time</strong>
                            </p>
                            <p><small>Rental companies only allow you to get your keys at your allocated pick-up time,
                                    they'll usually hold your car for a limited time after you're due to pick it up -
                                    then
                                    it's likely to be passed to another customer.</small></p>
                            <p class="text-info"><small>Your pick-up time is {{ request.session.pick_up_time_formatted }}</small></p>
                        </div>

                        <div class="p-3 rounded-2 border border-secondary my-2">
                            <p class="text-warning"><strong><i class="fa-solid fa-id-card"></i> Bring with you</strong>
                            </p>
                            <p><small>When you pick the car up, you'll need:</small></p>
                            <p><small><i class="text-warning fa-regular fa-circle-check"></i> A passport or national ID
                                    card</small></p>
                            <p><small><i class="text-warning fa-regular fa-circle-check"></i> All drivers to provide
                                    their driver's licence(s)</small></p>
                            <p><small><i class="text-warning fa-regular fa-circle-check"></i> A credit card in the main
                                    driver's name, to hold the security deposit</small></p>
                        </div>
                        <div class="p-3 rounded-2 border border-secondary my-2">
                            <p class="text-warning"><strong><i class="fa-regular fa-credit-card"></i> refundable
                                    Deposit</strong></p>
                            <p><small>At pick-up, the main driver will need €1,500 available on their credit card for a
                                    refundable security deposit.
                                    Cash and debit cards aren't accepted.</small></p>
                            <p class="text-info"><small><strong class="text-uppercase">Accepted cards:</strong>
                                    Mastercard, Visa, American Express</small></p>
                        </div>
                        <small>Click here for <a href="{% url 'terms' %}" target="_blank">Terms and
                                Conditions</a></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-3 p-3 animation2">
            <div class="rounded-1 bg-warning" style="border: solid 1px #ffc107">
                <div class="col-12 rounded-1 bg-black p-3">
                    <h4>Payment Summary</h4>
                </div>
                <div class="col-12 p-3 my-2 text-black">
                    <div class="row">
                        <div class="col-8">
                            <p>
                                <strong> Car Rent</strong><br>
                                <small>For 1 day </small>
                            </p>
                        </div>
                        <div class="col-4 text-end">
                            <storng>
                                {{ car.rent }} €
                                </strong>
                        </div>
                        <div class="col-8">
                            <p>
                                <strong>Total Rent</strong><br>
                                <small>{{ request.session.days }} day{% if request.session.days > 1 %}s{% endif %}
                                    {% if request.session.hours %} & {{ request.session.hours }} hours{% endif %}</small>
                            </p>
                        </div>
                        <div class="col-4 text-end">
                            <storng>
                                {{ request.session.total_rent }} €
                                </strong>
                        </div>
                        <hr>
                        {% if request.session.booster_quantity or request.session.childseat_quantity or request.session.infant_quantity %}
                        <h5>Extras</h5>
                        {% endif %}
                        {% if request.session.booster_quantity %}
                        <div class="col-8">
                            <p>
                                <strong> Booster Seat</strong><br>
                                <small>Quantity {{ request.session.booster_quantity }} </small>
                            </p>
                        </div>
                        <div class="col-4 text-end">
                            <storng>
                                {{ request.session.booster_total }} €
                                </strong>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <form class="form" action="{% url 'remove_extras' id=1 %}" method="POST">
                                {% csrf_token %}
                                <div class="row py-3 d-none">
                                    {{ form.as_p }}
                                </div>
                                <button type="submit" class="remove-button">Remove</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                        <hr>
                        {% endif %}

                        {% if request.session.childseat_quantity %}
                        <div class="col-8">
                            <p>
                                <strong> Child Seat</strong><br>
                                <small>Quantity {{ request.session.childseat_quantity }} </small>
                            </p>
                        </div>
                        <div class="col-4 text-end">
                            <storng>
                                {{ request.session.childseat_total }} €
                                </strong>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <form class="form" action="{% url 'remove_extras' id=2 %}" method="POST">
                                {% csrf_token %}
                                <div class="row py-3 d-none">
                                    {{ form.as_p }}
                                </div>
                                <button type="submit" class="remove-button">Remove</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                        <hr>
                        {% endif %}
                        {% if request.session.infant_quantity %}
                        <div class="col-8">
                            <p>
                                <strong> Infant Car Capsule</strong><br>
                                <small>Quantity {{ request.session.infant_quantity }} </small>
                            </p>
                        </div>
                        <div class="col-4 text-end">
                            <storng>
                                {{ request.session.infant_total }} €
                                </strong>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <form class="form" action="{% url 'remove_extras' id=3 %}" method="POST">
                                {% csrf_token %}
                                <div class="row py-3 d-none">
                                    {{ form.as_p }}
                                </div>
                                <button type="submit" class="remove-button">Remove</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                        <hr>
                        {% endif %}
                        <div class="col-8">
                            <h5>
                                <strong>Grand Total</strong><br>
                            </h5>
                        </div>
                        <div class="col-4 text-end">
                            <h5>
                                <storng>
                                    {{ request.session.grand_total }} €
                                    </strong>
                            </h5>
                        </div>
                        <hr>
                        <div class="col-12 text-end">
                            <small>
                                Price includes all taxes & fees
                            </small>
                        </div>
                        <div class="pt-2 d-flex justify-content-end">
                            <!-- <form class="form" action="{% url 'checkout' %}" method="POST">
                                {% csrf_token %}
                                <div class="row py-3 d-none">
                                    {{ form.as_p }}
                                </div>
                                <button type="submit" class="button-2">Check Out</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form> -->
                            <a href="{% url 'checkout' %}" class="button-2">Check Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    // fade in animation when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var animation = document.querySelector('.animation');
        var animation1 = document.querySelector('.animation1');
        var animation2 = document.querySelector('.animation2');
        animation.classList.add('fade-in');
        animation1.classList.add('fade-in');
        animation2.classList.add('fade-in');
    });

</script>
{% endblock %}